.admin-sidebar {
    background: #ffffff;
    border: 1px solid #e4e7ee;
    border-radius: 6px;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.sidebar-menu a {
    color: #67728a;
    text-decoration: none;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.sidebar-menu a:hover,
.sidebar-menu .active {
    background: #2563eb;
    color: white;
}

.sidebar-menu .logout:hover {
    background: #ff0000a4;
    color: white;
}

.logout {
    margin-top: 40px;
    color: #c0392b !important;
}

.logout:hover {
    margin-top: 40px;
    color: #000000 !important;
}