.admin-sidebar {
    background: #ffffff;
    border: 1px solid #e4e7ee;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar-title {
  font-size: 22px;
  margin-bottom: 30px;
}

.sidebar-menu-admin {
    display: flex;
    flex-direction: column;
    gap: 14px;
    border: 1px solid #e4e7ee;
    border-radius: 6px;
}

.sidebar-btn {
    background: none;
    padding: 16px 14px;
    border: none;
    color: #67728a;
    text-align: left;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.25s;
}

.sidebar-btn:hover,
.sidebar-btn.active {
    background: #2563eb;
    color: white;
}

.admin-action {
    margin-top: 260px;
    display: flex;
    flex-direction: column;
}

.admin-action a {
    padding: 12px 14px;
    color: #67728a;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
}

.admin-action a:hover {
    background: #2563eb;
    color: white;
}

.logout {
    background: white;
    cursor: pointer;
    border: none;
    text-align: left;
    font-size: 15px;
    padding: 12px 14px;
    color: #c0392b;
     border-radius: 8px;
    transition: 0.25s;
    display: flex;
    align-items: center;
}

.logout img{
    width: 30px;
    margin-right: 10px;
}

.logout:hover {
    background: #ff1900;
    color: #ffffff;
}