.account-header {
    display: flex;
    flex-direction: row;
}

.user-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.user-avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #2563eb;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 0.875rem;
}

.user-avatar img {
  width: 30px;
  color: white;
}

.client-name {
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
    color: #000000;
    font-weight: 500;
}