.catalog-page {
  position: relative;
  background: #f8faff;
  padding: 0px 20px 40px;
  /* overflow: hidden; */
  border-radius: 12px;
  width: 100%
}

.popular-header {
  text-align:left;
}

.popular-header h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1b1b1b;
  margin: 40px 100px 0px;
}

/* Сетка карточек */
.catalog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 40px;
  margin: 30px 20px 0;
  justify-items: center;
}

.card-card {
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
  width: 300px
}

.card-card:hover {
  transform: translateY(-5px);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

.card-header h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1b1b1b;
  width: 230px;
}

.card-header p {
  font-size: 0.85rem;
  color: #6c7a99;
}

.heart {
  font-size: 1.2rem;
  color: #cccccc;
  cursor: pointer;
  transition: 0.3s;
  width: 24px;
  height: 24px;
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  margin: 20px 0;
}

.card-image img {
  max-width: 100%;
  max-height: 100%;
}

.card-info {
  display: flex;
  justify-content: center ;
  gap: 20px;
  font-size: 0.85rem;
  color: #6c7a99;
  margin: 15px 0;
}

.card-info img {
  margin-right: 6px;
  color: #3563e9;
}

.card-icon {
  display: flex;
  align-items: center;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.price h4 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #1b1b1b;
}

.price span {
  font-size: 0.8rem;
  font-weight: 400;
  color: #6c7a99;
}

.old-price {
  font-size: 0.8rem;
  color: #aaa;
  text-decoration: line-through;
}

.rent-btn {
  background: #3563e9;
  border: none;
  color: #fff;
  border-radius: 8px;
  padding: 10px 18px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.rent-btn:hover {
  background: #2748c7;
}

/* --- Мобильная адаптация --- */
@media (max-width: 768px) {
  .filter-toggle {
    left: 20px;
    top: 80px;
    padding: 10px 16px;
  }

  .catalog-page {
    flex-direction: column;
    padding: 100px 20px 40px;
  }
}
