.admin-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  /* overflow: hidden; */
}

.admin-table th {
  background: #f1f3f8;
  padding: 14px;
  color: #7b8190;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
}

.admin-table td {
  padding: 16px;
  border-bottom: 1px solid #eceef3;
  font-size: 14px;
  color: #2d2d2d;
}

.admin-table tr:hover {
  background: #f9fafc;
}

.edit {
  width: 40px;
  color: #2563eb;
  cursor: pointer;
}