.table-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.add-button {
  background: #2563eb;
    color: white;
    border: none;
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
    text-decoration: none;
    margin: 0 24px;
}

.category-button {
  background: #2563eb;
    color: white;
    border: none;
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
    text-decoration: none;
}

.search {
  width: 250px;
  padding: 8px 12px;
  margin: 6px 40px;
  border: 1px solid #d2d6dd;
  border-radius: 4px;
}

.filter-btn {
  background: #1976d2;
  padding: 6px 8px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.filter-btn img {
  width: 18px;
  filter: invert(1);
}

.table-container {
  height: 80vh; 
  overflow-y: auto; 
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  position: relative;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.admin-table thead th {
  position: sticky;
  top: 0;
  z-index: 10; 
  background-color: #f4f6f8;
  color: #333;
  font-weight: 600;
  text-align: left;
  padding: 16px;
  border-bottom: 2px solid #ddd;
  font-size: 12px;
}

.admin-table tbody td {
  padding: 14px 16px;
  border-bottom: 1px solid #eee;
  color: #555;
}

.admin-table tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.admin-table tbody tr:hover {
  background-color: #e6f7ff; 
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.infinite-scroll-component h4 {
  text-align: center;
  padding: 10px;
  color: #888;
  font-weight: 400;
}

.edit-btn {
  background: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
  transition: all 0.2s;
}

.edit-btn:hover {
  background-color: #e6f7ff;
  border-color: #1890ff;
  color: #1890ff;
}
