.table-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.add-button {
  background: #2563eb;
    color: white;
    border: none;
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
    text-decoration: none;
    margin: 0 24px;
}

.search {
  width: 250px;
  padding: 8px 12px;
  margin: 6px 40px;
  border: 1px solid #d2d6dd;
  border-radius: 4px;
}

.filter-btn {
  background: #1976d2;
  padding: 6px 8px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.filter-btn img {
  width: 18px;
  filter: invert(1);
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
}

.admin-table th,
.admin-table td {
  border-bottom: 1px solid #e2e8f0;
  padding: 12px 16px;
  font-size: 14px;
}

.admin-table th {
  background: #f1f5f9;
  font-weight: 600;
  color: #475569;
}

.admin-table tr:hover {
  background: #f9fafb;
}

.edit {
  width: 40px;
  color: #2563eb;
  cursor: pointer;
}