.facts {
    text-align: center;
    background: linear-gradient(to bottom, #8da9ff,#ffffff );
    padding: 60px 40px;
    width: 100%;
    z-index: 0;
}

.facts_title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.facts_desc {
    max-width: 600px;
    margin: 0 auto 2rem;
    font-size: 1rem;
    opacity: 0.9;
}

.facts_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    margin: 50px 100px 0;
    justify-items: center;
}

.facts_card {
    display: flex;
    justify-content: space-between;
    width: 300px;
    background: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 12px;
    transition: transform 0.2s;
}

.facts_card:hover {
    transform: translateY(-5px);
}

.facts_icon {
    width: 72px;
    height: 68px;
}

.facts_text {
    width: 81px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.facts_value {
    font-size: 1.5rem;
    font-weight: bold;
}

.facts_label {
    font-size: 0.9rem;
    opacity: 0.8;
}